/* ΑΥΤΟ ΕΙΝΑΙ ΓΙΑ ΥΠΟΛΟΓΙΣΤΕΣ (MOUSE) */
@media (hover: hover) {
    /* Εδώ ορίζεις ότι ο κέρσορας είναι κρυφός γιατί έχεις το φαντασματάκι */
    * { cursor: none; }
    main {
        flex-direction: row; /* 2 στήλες δίπλα-δίπλα */
        flex-wrap: wrap;
        justify-content: center;
    }
    .cv-section {
        width: 45%; /* Μισή οθόνη */
    }
}
/* ΑΥΤΟ ΕΙΝΑΙ ΓΙΑ ΚΙΝΗΤΑ/TABLETS (TOUCH) */
@media (pointer: coarse) {
    * {cursor: auto;}
    .ghost-cursor {
        display: none; /* Σιγουρευόμαστε ότι το φάντασμα δεν φαίνεται */
    }
    main {
        flex-direction: column; /* 1 στήλη, το ένα κάτω από το άλλο */
        align-items: center;
    }
    main li {
        white-space: normal; /* Επιτρέπει την αλλαγή γραμμής μόνο αν όντως δεν χωράει */
    }
    .cv-section {
        width: 100%; /* Πιάνει όλο το πλάτος */ 
    }
    footer {
        margin-top: 100px; /* Σπρώχνει το </CV> πιο κάτω στο κινητό */
    }
}

/*CURSOR*/
.ghost-cursor {
    width: 80px;  /* Η αρχική σου διάσταση */
    height: 60px;
    background-image: url("./img/cursor_ghost.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed; /* Για να ακολουθεί την οθόνη */
    top: 0;
    left: 0;
    pointer-events: none; /* ΑΠΑΡΑΙΤΗΤΟ: για να μπορείς να πατάς τα κουμπιά "πίσω" από την εικόνα */
    z-index: 9999; /* Για να είναι πάνω από όλα τα στοιχεία */
}

/*ALL*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

/*BODY*/
body {
    display: flex;
    background-color: #0a071e;
    width: 100vw;
    min-height: 100vh; 
    height: auto; /* ΑΛΛΑΓΗ: Επιτρέπει στο body να επεκταθεί */
}

/*HEADER & FOOTER*/
header {
    position: absolute;
    color: #902d31;
    font-size: 28px;
    padding: 8px;
    top: 10px;
    left: 10px;
}
header:hover{
    background-color: #FFA686;
    border-radius: 20px;
}
footer {
    position: relative;
    display: inline-block;
    color: #902d31;
    padding: 5px;
    font-size: 28px;
    margin-top: auto; /* Σπρώχνει το footer στο τέλος */
    bottom: 10px;  
    left: -10px;
}
footer:hover {
    background-color: #FFA686;
    border-radius: 20px;
}

/*H*/
h2{
    color: #09b2e1;
    font-size: 24px;
    margin-top: -15px;
    margin-bottom: -10px;
}

h3{
    color: #902d31;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: -2px;
}

/*MAIN & MAIN WITH LISTS*/
main {
    display: flex;
    flex-direction: column; /* Τα βάζει σε στήλη, το ένα κάτω από το άλλο */
    justify-content: flex-start; /* Ξεκινάει από την κορυφή */
    align-items: flex-start;    /* Στοιχίζει τα πάντα ΑΡΙΣΤΕΡΑ */

    gap: 10px; /* Δίνει ομοιόμορφη απόσταση μεταξύ όλων των στοιχείων */

    width: 100vw;  /* 100% του πλάτους της οθόνης */
    height: auto; 
    min-height: 100vh;
    /*Το 100vh σημαίνει "ακριβώς όσο το ύψος της οθόνης σου".
    height: auto; => Λέει στη main: "Μεγάλωσε όσο χρειάζεται για να χωρέσεις όλα τα sections*/
    
    padding: 60px 20px; /* Δίνει "αέρα" γύρω από το κείμενο */
    box-sizing: border-box;

    color: #ffffff;
}

main ul {
    list-style-type: none; /* Αφαιρεί τις κουκκίδες */
    padding: 0; /* Αφαιρεί το κενό που αφήνει ο browser αριστερά */
    margin: 0;
}
main li:before{
    content: "▹";
    margin-right: 8px; 
    display: inline-block; 
}

main li {
    display: flex;
    justify-content: flex-start; /* Τα σπρώχνει όλα τέρμα αριστερά */
    margin-bottom: 2px;
    padding: 0 ;
}
main li a {
    margin: 0;
    padding: 0;
}

/*PHOTOS FOR EΠΙΚΟΙΝΩΝΙΑ*/
.contact-icon {
    width: 25px;  /* Ή 24px ανάλογα με το πόσο μεγάλα είναι τα γράμματά σου */
    height: 20px; /* Διατηρούμε το τετράγωνο σχήμα */
    vertical-align: middle; /* Την ευθυγραμμίζει με το κέντρο του κειμένου */
    object-fit: contain;    /* Σιγουρεύει ότι η εικόνα δεν θα παραμορφωθεί */
}


